.products-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.loading-container {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    z-index: 5;
}

.center-spinner {
    top: 40%;
    left: 35%;
}

.no-products-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    padding-top: 20%;
    padding-left: 25%;
}

.no-products-img {
    width: 500px;
}